<html> 
    <head>
    <title>Tom's Hangman</title>
        <h1 id="title">Welcome to Tom's Hangman Game!</h1>
        <h2 id="cat">What category would you like to play from?</h2>
    <link rel="stylesheet" href="style.css"></link>
    </head>
    <body>
        <span id="cat-container">
            <button id="cities-btn">Cities</button>
            <button id="car-btn">Car Brands</button>
            <button id="fashion-btn">Fashion Brands</button>
        </span>
        <p id="cat-choice">CHOICE</p>
        <hr />
        <p id="guessed-chars">_ _ _ _ _ _ _ _ _</p>
        <div id="btn-container">
            <p id="alphabet">alphabet</p>
        </div>
    </body>
    <script src="index.js"></script>
</html>